//------------------------
// all styles are in top-down order
//------------------------
//------------ variables-----------------------------
$helvetica: font151473;
$helvetica-light: font151466;
$primary: #0067b3;
$s-green: #009635;
$s-yellow: #fbcd1b;
$text-color: #fff;
$overlay: rgba(0, 0, 0, .6);
$fontsize: 1.4rem;
$custshade: #eceef1;
$fontstack: $helvetica, 'Helvetica', 'Open Sans', sans-serif;


//----------------- bootstrap overrides / universal styles -------------
a:hover {
  text-decoration: none;
}

body,
html {
  color: $text-color;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: $fontstack;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  height: 100%;
  width: 100%;
}



// ----------------------- header --------------------
.back-head {
  background-color: $primary;

  .header {
    height: auto;
  }
}

.row {
  display: flex;
  margin: auto;
  width: 95%;

  .logo {
    flex: 1;
    // margin: auto;
    position: relative;
    right: 7px;

    .img-logo {
      position: relative;
      top: 1.5em;
      width: auto;
    }
  }

  .d-con {
    margin: auto;

    .contact {
      color: $text-color;
      text-align: right;
      font-size: 2.3rem;
      font-weight: bold;
    }
  }
}
// ------------end header-----------------

.jumbo {
  background-image: url('samanage-header-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 0;
  padding-top: 6em;
  padding-bottom: 3em;


  .overlay {
    background-color: $overlay;
    height: auto;
    text-align: center;
    padding-bottom: 3em;

    .overtext {
      position: relative;
      top: 8%;
    }
  }
}

.slogan {
  font-family: $helvetica-light;
  font-size: 6rem;
  position: relative;
  top: 2rem;
}

.tagline {
  font-family: $helvetica-light;
  font-size: 3rem;
  line-height: 130%;
  position: inherit;
  bottom: 5px;
  left: 3px;
}

.butn-demo-1,
.butn-trial {
  display: inline-block;
  font-size: $fontsize;
  font-weight: bold;
  padding: 6px;
  width: 14%;
}

.butn-trial {
  background-color: $s-green;
  margin-right: 14px;
  color: #fff;

  .butn-a-trial {
    text-decoration: none;
  }
}

.butn-demo-1 {
  background-color: $s-yellow;
  color: $primary;

  .butn-a-demo-1 {
    text-decoration: none;
  }
}

.d-butn {
  text-align: center;
  padding-top: 7em;
  padding-bottom: 3em;
  position: relative;
  left: 1.2%;
}

// SAMANAGE CUSTOMER BANNER -------------

.d-clogos {
  background-color: $custshade;
  width: 100%;
  text-align: center;
  padding: 18px;
}

.clogos {
  width: 67%;
  height: auto;
  margin: auto;
}

//END --------------------------------

.content {
  color: #000;
  position: relative;
  margin-top: 10em;
}

.ipad-div {
  display: inline-block;
  text-align: center;

  .ipad {
    display: inline-block;
    max-width: 100%;
    width: 91%;
    vertical-align: bottom;
  }
}

.feat-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 0.5rem;
  bottom: 1rem;

  .feat-content {
    display: inline-grid;
    vertical-align: top;

    .feat-title {
      font-size: 3.1rem;
      display: inline-flex;
      color: black;
      position: relative;
    }
  }
}

.feat-blurb-div {
  position: relative;
  left: 0.22rem;
  bottom: 0.5rem;

  .feat-blurb {
    font-size: 1.35rem;
    line-height: 1.5rem;
  }
}

.left-div-ul {
  padding-right: 8rem; //spacing between ul's
}

.feat-blurb,
.left-div-ul,
.right-div-ul {
  display: inline-block;
}

.left-ul,
.right-ul {
  list-style: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.quote-tainer {
  margin: 0;
  padding: 0;
}

.quote-div {
  background-image: url('samanage-accordian-form-bg.png');
  background-size: cover;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 3em;
  padding-bottom: 5em;

  .h2-quote {
    margin: auto;
    position: relative;
    top: 15%;
    font-size: 4.5rem;
  }

  .h4-tag {
    font-size: 2.25em;
    position: relative;
    top: 15%;
  }

  .a-demo-btn {
    color: #000;
  }
}

.div-uls {
  position: relative;
  left: 3.1rem;
  top: 0.6rem;
  height: auto;
}

.li-style {
  padding-bottom: 1.95rem;

  &::before { // initial sprite positioning
    content: ' ';
    background: url('samanage-bullet-icons.png');
    position: absolute;
    height: 25px;
    width: 25px;
    margin: 0 -4rem;
  }
}
// -- Begin left ul sprite positioning ------------------

.incident::before {
  background: url('samanage-bullet-icons.png') 25px -221px;
}

.problem::before {
  background: url('samanage-bullet-icons.png') 0 -43px;
}

.serv-cat::before {
  background: url('samanage-bullet-icons.png') 0 -131px;
}

.self-serve::before {
  background: url('samanage-bullet-icons.png') 0 -88px;
}

.knowledge::before {
  background: url('samanage-bullet-icons.png') 0 -178px;
}
//--- Begin right ul sprite positioning -------------------

.email::before {
  background: url('samanage-bullet-icons.png') 0 -221px;
}

.auto::before {
  background: url('samanage-bullet-icons.png') 25px 0;
}

.sla::before {
  background: url('samanage-bullet-icons.png') 25px -43px;
}

.mobile::before {
  background: url('samanage-bullet-icons.png') 25px -88px;
}

.g-apps::before {
  background: url('samanage-bullet-icons.png') 25px -131px;
}

.dash-ports::before {
  background: url('samanage-bullet-icons.png') 25px -178px;
}

.dash-ports,
.knowledge {
  padding-bottom: 0; // resets padding for lowest li elements
}

.butn-demo-2 {
  width: 15.5%;
  background-color: $s-yellow;
  margin: auto;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: $fontstack;
  padding: 1.5rem;
  margin-top: 3em;
}

.social-share {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 4.5em;
  padding-bottom: 4.5em;

  .blogger,
  .email-ss,
  .fb,
  .g-plus,
  .linkedin,
  .twitter {
    // styles for image sprites for social media links
    background-image: url('samanage-social-share.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 54px;
    height: 54px;
    margin: auto 2em;
  }
  // --- social media sprite positioning ----------------------------
  .twitter {
    background: url('samanage-social-share.png') -56px;
  }

  .g-plus {
    background: url('samanage-social-share.png') -112px;
  }

  .linkedin {
    background: url('samanage-social-share.png') -168px;
  }

  .blogger {
    background: url('samanage-social-share.png') -224px;
  }

  .email-ss {
    background: url('samanage-social-share.png') -280px;
  }
}
// begin footer ----------------------------------------

.foot {
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1.3em;
  padding-top: 3em;
  padding-bottom: 3em;

  .p-foot {
    margin: auto;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

/* media queries ---------------------------
  *tested on latest builds of:
  *  chrome
  *  moz
  *  ie
  *  edge
  *  opera
*/

//-------------VIEWPORT BETWEEN 1199PX & 1066PX ----------------------
@media screen and (max-width: 1199px) and (min-width: 1067px) {
  .content {
    text-align: center;
  }

  .div-uls {
    text-align: left;
  }

  .butn-demo-1,
  .butn-demo-2,
  .butn-trial {
    width: auto;
    padding: 1em;
  }

  .img-logo,
  .overlay {
    height: auto;
  }

  .left-ul,
  .right-ul {
    padding-left: 4em;
  }

  .butn-demo-2 {
    width: 30%;
  }

  .clogos {
    width: 85%;
  }

  .butn-demo-1,
  .butn-trial {
    width: 20%;
  }
}
// --------------VIEWPORT BETWEEN 662PX & 1066 PX ----------------
@media screen and (max-width: 1066px) and (min-width: 662px) {
  .butn-demo-1,
  .butn-trial {
    width: auto;
  }

  .overlay {
    width: auto;
  }

  .d-clogos {
    display: none;
  }
  @media screen and (max-width: 984px) {
    .butn-demo-2 {
      width: 25%;
    }
  }
  @media screen and (max-width: 729px) {
    .tagline {
      display: none;
    }
  }
}
// -------------VIEWPORT BETWEEN 661PX & 1PX (unbroken until ~320px)---
@media screen and (max-width: 661px) {
  .slogan {
    font-size: 4em;
    line-height: 100%;
    position: inherit;
  }

  .row {
    .logo {
      .img-logo {
        width: auto;
      }
    }
  }

  .logo {
    flex: 0;
  }

  .butn-demo-1,
  .butn-trial {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 6px;
    width: auto;
  }

  .jumbo {
    height: auto;
  }

  .feat-content,
  .row {
    text-align: center;
  }

  .feat-blurb-div {
    display: none;
  }

  .left-ul {
    padding: .6em;
  }

  .butn-demo-2 {
    width: 90%;
  }

  .quote-div {
    .h2-quote {
      font-size: 3em;
      top: 10%;
    }
  }

  .social-share {
    .email-ss,
    .fb,
    .g-plus,
    .linkedin,
    .twitter {
      margin: 0;
    }

    .blogger {
      display: none;
    }
  }

  .d-clogos,
  .d-con,
  .h4-tag,
  .tagline {
    display: none;
  }

  @media screen and (max-width: 479px) {
    .left-div-ul {
      padding-right: 3em;
    }

    @media screen and (max-width: 432px) {
      .right-div-ul {
        display: none;
      }
    }
  }
}
